<script lang="ts">
    import '$lib/assets/fonts/geist/style.css';
    import '../app.css';

    import { ModeWatcher } from 'mode-watcher';

    import Footer from '$lib/components/footer.svelte';
    import Navbar from './navbar.svelte';
</script>

<ModeWatcher />

<div class="grid min-h-screen grid-rows-[3.5rem_1fr_auto]">
    <Navbar />
    <slot />
    <Footer />
</div>
