<script lang="ts">
    import GlobeIcon from 'svelte-radix/Globe.svelte';
    import HamburgerMenuIcon from 'svelte-radix/HamburgerMenu.svelte';
    import { Button } from '$lib/components/ui/button/index.js';
    import * as Sheet from '$lib/components/ui/sheet/index.js';
    import ThemeSwitch from '$lib/components/theme-switch.svelte';
    import { afterNavigate } from '$app/navigation';

    const navLinks = [
        { label: 'Home', url: '/' },
        { label: 'Blog', url: '/blog' },
        { label: 'Projects', url: '/projects' },
        { label: 'About', url: '/about' }
    ];

    let sheetOpen = false;

    afterNavigate(() => {
        // Reset sheet state when navigating
        sheetOpen = false;
    });
</script>

<header
    class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
    <div class="container flex h-14 max-w-screen-2xl items-center">
        <div class="mr-4 flex items-center">
            <a href="/" class="mr-6 hidden space-x-2 md:flex md:items-center">
                <GlobeIcon class="size-5" />
                <span class="hidden font-bold sm:inline-block">mjayar.com</span>
            </a>
            <Sheet.Root bind:open={sheetOpen}>
                <Sheet.Trigger asChild let:builder>
                    <Button builders={[builder]} variant="ghost" size="icon" class="md:hidden">
                        <HamburgerMenuIcon class="size-4" />
                    </Button>
                </Sheet.Trigger>
                <Sheet.Content side="left">
                    <Sheet.Header>
                        <Sheet.Title>
                            <a href="/" class="my-6 flex items-center space-x-2">
                                <GlobeIcon class="size-5" />
                                <span class="font-bold">mjayar.com</span>
                            </a>
                        </Sheet.Title>
                    </Sheet.Header>
                    <nav aria-label="Side Navigation" class="flex flex-col space-y-4">
                        {#each navLinks as { label, url }}
                            <a
                                href={url}
                                class="text-foreground/60 transition-colors hover:text-foreground/80"
                            >
                                {label}
                            </a>
                        {/each}
                    </nav>
                </Sheet.Content>
            </Sheet.Root>
            <nav aria-label="Main Navigation">
                <div class="hidden text-sm md:flex md:items-center md:gap-6">
                    {#each navLinks as { label, url }}
                        <a
                            href={url}
                            class="text-foreground/60 transition-colors hover:text-foreground/80"
                        >
                            {label}
                        </a>
                    {/each}
                </div>
            </nav>
        </div>

        <div class="flex flex-1 items-center justify-end space-x-2">
            <ThemeSwitch />
        </div>
    </div>
</header>
