<script lang="ts">
    import { onMount } from 'svelte';
    import { throttle } from 'throttle-debounce';
    import { browser } from '$app/environment';

    import * as Resizable from '$lib/components/ui/resizable';

    import Sidebar from './sidebar.svelte';
    import Wheel from './wheel.svelte';

    const STORE_KEY = 'random-picker.list';
    const THROTTLE_TIMEOUT = 2000;

    let onMounted = false;
    let list = '';
    let result = '';

    let removeOnPick = false;

    onMount(() => {
        list = localStorage.getItem(STORE_KEY) || '';
        onMounted = true;
    });

    const saveList = throttle(THROTTLE_TIMEOUT, (value: string) => {
        if (browser) localStorage.setItem(STORE_KEY, value);
    });

    $: if (onMounted) saveList(list);

    function onPicked(e: CustomEvent<string>) {
        result = e.detail;
        if (removeOnPick) {
            list = list.replace(new RegExp(result + '\n', 'g'), '');
        }
    }
</script>

<svelte:head>
    <title>Spin the wheel</title>
</svelte:head>

<div class="h-full">
    <Resizable.PaneGroup direction="horizontal">
        <Resizable.Pane class="grid place-items-center">
            <Wheel {list} on:pick={onPicked} />
            <p>{result}</p>
        </Resizable.Pane>
        <Resizable.Handle withHandle />
        <Resizable.Pane minSize={25} maxSize={40}>
            <Sidebar bind:list bind:removeOnPick />
        </Resizable.Pane>
    </Resizable.PaneGroup>
</div>
