<script lang="ts">
    import CaretSortIcon from 'svelte-radix/CaretSort.svelte';
    import ShuffleIcon from 'svelte-radix/Shuffle.svelte';
    import TrashIcon from 'svelte-radix/Trash.svelte';

    import { Button } from '$lib/components/ui/button';
    import { Label } from '$lib/components/ui/label';
    import { Switch } from '$lib/components/ui/switch';
    import { Textarea } from '$lib/components/ui/textarea';
    import { extractArrayFromString, joinArrayToString, shuffleArray } from './utils.js';

    export let list = '';
    export let removeOnPick = false;
</script>

<div class="space-y-4 p-6">
    <div class="flex flex-wrap gap-2">
        <Button
            variant="secondary"
            size="sm"
            on:click={() => {
                const arr = shuffleArray(extractArrayFromString(list));
                list = joinArrayToString(arr);
            }}
        >
            <ShuffleIcon class="mr-2 size-4" />
            Shuffle
        </Button>
        <Button
            variant="secondary"
            size="sm"
            on:click={() => {
                const arr = extractArrayFromString(list).sort();
                list = joinArrayToString(arr);
            }}
        >
            <CaretSortIcon class="mr-2 size-4" />
            Sort
        </Button>
        <Button
            variant="secondary"
            size="sm"
            on:click={() => {
                list = '';
            }}
        >
            <TrashIcon class="mr-2 size-4" />
            Clear
        </Button>
    </div>
    <div>
        <Label for="list">List of items</Label>
        <Textarea id="list" bind:value={list} class="h-80" />
    </div>
    <div class="flex items-center space-x-2">
        <Switch id="removeOnPick" bind:checked={removeOnPick} />
        <Label for="removeOnPick">Remove on pick</Label>
    </div>
</div>
