<script lang="ts">
    import { createEventDispatcher, onMount } from 'svelte';
    import { drawItem, drawOverlay } from './canvas';
    import { extractArrayFromString } from './utils';

    const dispatch = createEventDispatcher();

    export let list = '';

    let canvas: HTMLCanvasElement;
    let spin: (() => void) | undefined = undefined;

    onMount(() => {
        import('@dimforge/rapier2d').then((RAPIER) => {
            const gravity = new RAPIER.Vector2(0, 0);
            const world = new RAPIER.World(gravity);

            const bodyDesc = RAPIER.RigidBodyDesc.dynamic().setAngularDamping(1.2);
            const body = world.createRigidBody(bodyDesc);

            const colliderDesc = RAPIER.ColliderDesc.ball(1.0);
            world.createCollider(colliderDesc, body);

            let spinApplied = false;

            spin = () => {
                const rand = 10 + Math.random() * 20;
                body.setAngvel(rand, true);
                spinApplied = true;
            };

            function loop() {
                world.step();

                if (spinApplied && body.angvel() === 0) {
                    spinApplied = false;
                    const items = extractArrayFromString(list);
                    const arc = (Math.PI * 2) / items.length;
                    const index = Math.floor(body.rotation() / arc);
                    dispatch('pick', items.toReversed().at(index));
                }
                setTimeout(loop, 16);
            }
            loop();

            const ctx = canvas.getContext('2d');

            function render() {
                if (!canvas || !ctx) return;
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                const items = extractArrayFromString(list);

                const data = {
                    items: items.length,
                    rotation: body.rotation(),
                    arc: (Math.PI * 2) / items.length,
                    cx: canvas.width / 2,
                    cy: canvas.width / 2
                };

                for (let i = 0; i < items.length; i++) {
                    drawItem(ctx, items[i], data, i);
                }

                drawOverlay(ctx, data.cx, data.cy);
                requestAnimationFrame(render);
            }
            render();
        });
    });
</script>

<canvas
    bind:this={canvas}
    on:click={spin}
    width="1000"
    height="1000"
    class="w-full max-w-[32rem] select-none"
></canvas>
