<script lang="ts">
    import GithubLogo from 'svelte-radix/GithubLogo.svelte';
    import InstagramLogo from 'svelte-radix/InstagramLogo.svelte';
    import TwitterLogo from 'svelte-radix/TwitterLogo.svelte';

    import { buttonVariants } from '$lib/components/ui/button';

    import { cn } from '$lib/utils.js';

    const LINKS = [
        { label: 'GitHub', href: 'https://github.com/mjrdd', logo: GithubLogo },
        { label: 'Twitter', href: 'https://twitter.com/mjayar95', logo: TwitterLogo },
        { label: 'Instagram', href: 'https://instagram.com/mjayardev', logo: InstagramLogo }
    ];
</script>

<footer class="mt-auto border-t border-border/40">
    <div class="container flex items-center justify-between gap-4 py-6 lg:gap-8 lg:py-10">
        <span class="text-sm">by <a href="/" class="hover:underline">mjayar</a></span>
        <nav class="flex gap-2">
            {#each LINKS as { label, href, logo }}
                <a
                    {href}
                    target="_blank"
                    class={cn(
                        buttonVariants({ variant: 'secondary', size: 'icon' }),
                        'rounded-full'
                    )}
                >
                    <svelte:component this={logo} class="size-4" />
                </a>
            {/each}
        </nav>
    </div>
</footer>
